	/*
  	Flaticon icon font: Flaticon
  	Creation date: 05/06/2019 21:47
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 60px;
        font-style: normal;
}

.flaticon-alert:before { content: "\f100"; }
.flaticon-helmet:before { content: "\f101"; }
.flaticon-crash:before { content: "\f102"; }
.flaticon-child:before { content: "\f103"; }
.flaticon-old:before { content: "\f104"; }
.flaticon-doctor:before { content: "\f105"; }
.flaticon-grave:before { content: "\f106"; }
.flaticon-contract:before { content: "\f107"; }
.flaticon-law:before { content: "\f108"; }
.flaticon-man:before { content: "\f109"; }
.flaticon-calendar:before { content: "\f10a"; }
.flaticon-mail:before { content: "\f10b"; }
.flaticon-user:before { content: "\f10c"; }